:root {
  // Font Size
  --font-size-title-B: 30px;
  --font-size-title-M: 25px;
  --font-size-title-MS: 23px;
  --font-size-title-S: 20px;
  --font-size-title-XS: 16px;
  --font-size-B: 16px;
  --font-size-M: 15px;
  --font-size-MS: 14px;
  --font-size-S: 13px;
  --font-size-XS: 12px;
  --font-size-XXS: 11px;
  
  // Font Weight
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-weight-X-bold: 600;

  // Font Color
  --font-color-black: #333;
}