$modal-vtc-pd: 40px;
$modal-hrz-pd: 30px;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: var(--bg-dimmed);
}
.modal {
  position: relative;
  min-width: 400px;
  margin-bottom: 20vh;
  padding: $modal-vtc-pd $modal-hrz-pd;
  background-color: var(--bg-white);
  border-radius: var(--border-radius-M);
  box-shadow: var(--shadow-M);
  .wrapTitle {
    text-align: center;
    .modalTitle {
      font-size: var(--font-size-title-M);
      font-weight: var(--font-weight-X-bold);
      line-height: 1.2;
    }
  }
  .wrapContent {
    margin-top: 20px;
  }
}
.buttonClose {
  position: absolute;
  top: $modal-vtc-pd;
  right: $modal-hrz-pd;
}
.dimmed {

}