.header {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 10px 30px;
  .logo {
    font-size: var(--font-size-title-S);
    font-weight: var(--font-weight-X-bold);
    letter-spacing: 0.05em;
  }
  .utils {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    .util {
      font-size: var(--font-size-S);
      color: var(--font-gray);
    }
  }
}